*.iml
.gradle
aFileChooser/build
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
private_strings.xml
/.idea
/.idea/*
/aFileChooser/build
/aFileChooser/build/*
gradle-wrapper.jar
*.aar
compile-file-map.properties
merger.xml
mimetypes.xml
modules.xml
resources-debug-androidTest.ap_
values-*.json
values.json
xml.json
