*.iml
.gradle
aFileChooser/build
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
private_strings.xml
/.idea
/.idea/*
/aFileChooser/build
/aFileChooser/build/*
gradle-wrapper.jar
gradlew
gradlew.bat
